html{
  background-color: #FF9900;
  font-family: 'Raleway', sans-serif;
}

body{
  color: white;
  margin: 0;
  padding: 0;
}

main{
  padding: 40px;
}

.navigatie-top{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

a{
  color: white;
  text-decoration: none;
}

.navigation{
  list-style: none;
  padding: 0px;
  background-color: #333;
  display: flex;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;

}

.navigation-item{
  padding: 10px;
  width:25vw;
  text-align: center;
  cursor: pointer;
  display: block;
  background-color: #333;
  border: 1px solid grey;
}

.navigation-item img{
  width: 40%;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 20px;
  margin-top: 30px;
}

h3{
  font-size: 18px;
  color: #333;
}

p{
  font-size: 18px;
}

.container-vraag{
  margin: auto;
  margin-bottom: 10px;
  padding: 1px 20px;
  background-color: rgb(255,255,255,0.25);
  border-radius: 15px;
  box-shadow:  1px 1px 12px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.antwoord{
  display:none;
}

.uitklappen{
  float: right;
  /* margin-left: 30px; */
  /* padding-top: 30px; */
  /* margin-right: 100px; */
  height: 30px;
}

.vraag-titel{
  font-weight: normal;
}

.navigation-icon{
  width:30px;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.badge{
  margin-top: 10px;
  height: 75px;
  width: 75px;
}

.popup{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.popup_content{
  margin: auto;
  margin-bottom: 40px;
  padding: 40px 20px 60px 20px;
  width:50%;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  transform: scale(1.25);
  color: #333;
  margin-top: -30px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FF9900;
  text-decoration: none;
  cursor: pointer;
}

.badge_animatie{
  transform: rotate(20deg);
}

.button{
  all: unset;
  background-color: white;
  color: #FF9900;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow:  2px 2px 12px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 18px;
  text-align: center;
}

.button2{
  all: unset;
  background-color: #FF9900;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow:  2px 2px 12px 0px rgba(0, 0, 0, 0.2);
}

.navigatie-top img:hover{
  transform: scale(1.1);
  transition-duration: 400ms;
}

.button:hover{
  transform: scale(1.02);
  transition-duration: 300ms;
}

.container-flex{
  background-color: rgb(255,255,255,0.2);
  border-radius: 20px;
  margin: 0 10px 10px 0;
  padding: 10px;
  box-shadow:  2px 2px 12px 0px rgba(0, 0, 0, 0.2);
}

.container-account{
  padding: 10px 30px 30px 30px;
}

.form .button{
  margin: auto;
}

.form input{
  display: flex;
  margin: 5px 0 20px 0;
  border: none;
  padding: 8px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.leaderboard{
  list-style: none;
  width: 100%;
  padding: 0;
  background-color: rgb(255,255,255,0.3);
  border-radius: 15px;
  box-shadow:  1px 1px 12px 0px rgba(0, 0, 0, 0.2);
}


.leaderboard-item{
  list-style: none;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding-left: 5%;
}

.leaderboard-item:first-child{
  background-color: rgb(51,51,51,0.9);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.leaderboard-item:nth-child(2){
  background-color: rgb(212,175,55,0.7);
}

.leaderboard-item:not(:last-child){
  border-bottom: 2px solid #FF9900;
}

.leaderboard img{
  width: 25px;
}

.animatie{
  display: flex;
  width: 77.5%;
  z-index: -1;
  position: fixed;
}

.animatie-foto{
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.animatie-tekst{
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-size: 1em;
}

.grafiek-knoppen{
  background-color: rgb(255,255,255,0.3);
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow:  1px 1px 12px 0px rgba(0, 0, 0, 0.2);
}

.grafiek-knoppen label, .grafiek-knoppen input{
  margin: 10px 2px;
}

.grafiek-knoppen input{
  margin-left: 10px;
}

.grafiek-knoppen h2{
  margin: 0;
  padding: 10px 12.5px;
  background-color: #333;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: normal;
}

.grafiek{
  margin: 20px 0;
}

.background{
  position: absolute;
  z-index: -1;
  opacity: 0.08;
  width: 125px;
}

.background:nth-of-type(1n){
  margin-top: 0vh;
  margin-left: 50vw;
  transform: rotate(-30deg);
}

.background:nth-of-type(2n){
  margin-top: 10vh;
  margin-left: 10vw;
  transform: rotate(170deg);
}

.background:nth-of-type(3n){
  margin-top: 25vh;
  margin-left: 57.5vw;
  transform: rotate(0deg);
}

.background:nth-of-type(4n){
  margin-top: 30vh;
  margin-left: 30vw;
  transform: rotate(-20deg);
}

.background:nth-of-type(5n){
  margin-top: 50vh;
  margin-left: 5vw;
  transform: rotate(80deg);
}
.background:nth-of-type(6n){
  margin-top: 65vh;
  margin-left: 57.5vw;
  transform: rotate(-60deg);
}
.background:nth-of-type(7n){
  margin-top: 67.5vh;
  margin-left: 25vw;
  transform: rotate(30deg);
}

.fallback{
  width: 50%;
  margin-left: 12.5vw;
  margin-top: 12.5vh;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.2);
}

.fallback-inhoud{
  padding: 50px;
  margin-top: 37.5vh;
  margin-right: 25vw;
}

@media screen and (min-width: 700px) {
  h1{
    font-size: 30px;
  }

  h2{
    font-size: 23px;
  }

  p, h3, .form{
    font-size: 20px;
  }

  .grafiek-knoppen{
    font-size: 20px;
  }

  .navigation-item img {
    width: 20%;
  }

  .animatie-foto{
    width: 80px;
    height: 80px;
  }

  .animatie-tekst{
    padding: 20px;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
  }

  .grafiek{
    margin: auto;
    //height: 125%;
    margin-top: 100px;
  }

  .fallback{
    margin-left: 20vw;
  }
}

@media screen and (min-width: 1000px) {
  h1{
    font-size: 35px;
  }

  h2{
    font-size: 28px;
  }

  p, h3, .form{
    font-size: 25px;
  }

  .grafiek-knoppen{
    font-size: 20px;
  }

  .button{
    padding: 12px;
    font-size: 20px;
  }

  .main-container{
    margin: auto;
    width: 75%;
  }

  .container-flex-main{
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }

  .button-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grafiek{
    margin: auto;
    width: 75%;
    margin-bottom: 50px;
  }

 .navigation-item img {
   width: 10%;
 }

 .background{
   width: 200px;
 }

 .animatie-foto{
   width: 100px;
   height: 100px;
 }

 .animatie-tekst{
   padding: 20px;
   color: black;
   background-color: white;
   border-radius: 10px;
   font-size: 1.25em;
 }

 .fallback{
   margin-left: 25vw;
}


}
